@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --leading-1: 1;
}

.hsb {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.hsb::-webkit-scrollbar {
   display: none;
}